<div class="container__big-card">
    <div class="big-card__photo">
        <img
        src="https://th.bing.com/th/id/OIP.X4uYrNZWxtJhd30DXFChEgHaF6?w=246&h=197&c=7&r=0&o=5&pid=1.7"
        alt=""
        srcset=""
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Vasco campeão da Libertadores 2026</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="#">Cruzmaltino vence o River no Maraca: 3x1. Hat-trick de Payet</a></p>
    </div>
</div>
