.container__small-card {
    width: 500px;
    margin-bottom: 15px;
}

.container__small-card__content {
    display: flex;
    flex-direction: row;
}

.small-card__photo > img {
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
}

.small-card__title {
    display: flex;
    
    align-items: center;
}

.small-card__title > h1 > a {
    font-size: 0.65em;
}

.container__small-card__separator {
    margin-top: 15px;
}