
<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card
        id="1"
        photoCover="http://cdn.espn.com.br/image/wide/622_b551b46a-5b1c-3778-8469-7f46142a7fd9.jpg"
        cardTitle="VASCO VENCE O FLUMINENSE COM 2 GOLS DE GABRIEL PEC: 4x2"
        cardDescription="Cruzmaltino garante os 3 pontos e fica a 5 do primeiro fora do Z4"
        >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
        id="2"
        photoCover="https://lncimg.lance.com.br/cdn-cgi/image/width=1920,quality=75,format=webp/uploads/2023/04/03/642af50636513.jpeg"
        cardTitle="São Januário finalmente é liberado para receber público">
        </app-small-card>

        <app-small-card
        id="3"
        photoCover="https://www.netvasco.com.br/news/noticias16/arquivos/20230915-021453-1-foto--leandro-amorimvasco--gazeta-esportiva.jpg"
        cardTitle="Paulinho comemora liberação de São Januário e exalta torcida">
        </app-small-card>

        <app-small-card
        id="4"
        photoCover="https://www.netvasco.com.br/news/noticias16/arquivos/20230903-211538-1-ramon-diaz---vasco-x-bahia---foto-leandro-amorim--vasco.jpg"
        cardTitle="Ramón Diaz: 'Façam o que façam, o Vasco não vai cair'">
        </app-small-card>
    </div>
</div>
